.landing-page-container {
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin : 0;
}

.landing-page-header {
   
    width: 100%;
    height: 20%;
    font-size: 20px;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    background-color: lightcoral;
}

.landing-page-body {

    width: 100%;
    height: 80%;

    position: absolute;
    bottom : 0;
    background-color: lightblue;
}

.landing-page-body-header {

}

.landing-page-body-table-list {
    
}