.table-element-container {
    margin : 10px;
    background-color: greenyellow;
    font-size: 15px;
    position: relative;
}
.table-element-header {
    
}
.table-element-price {
    
}
.table-element-date {
    
}
.table-element-button {
    position: absolute;
    right: 10px;
    bottom : 10px;

}