.order-element-container {
    margin : 10px;
    background-color:orange;
    font-size: 15px;
    position: relative;
}

.order-element-order-name {

}

.order-element-price {

}

.order-element-status {
    
}