.table-page-container {
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin : 0;
}

.table-page-header {
    margin : 1% 1% 0 1%;
    width: 98%;
    height: 20%;

    position: absolute;
    top: 0;
    background-color: lightcoral;
}

.table-page-body {
    margin : 0 1% 1% 1%;
    width: 98%;
    height: 80%;

    position: absolute;
    bottom : 0;
    background-color: lightblue;
}

.table-page-header-text {

}

.table-page-header-backward-button {

}

.table-page-header-add-order-button {

}

.table-page-header-status {

}

.table-page-header-total-price {

}

.table-page-header-date {
    
}