.tag-group-container {
    margin : 10px;
    background-color: greenyellow;
    font-size: 15px;
    position: relative;
}

.tag-group-header {

}

.tag-group-header-text {

}

.tag-group-header-expand {

}

.tag-group-body {
    
}